@media (min-width: 800px) {
  img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .title {
    padding-bottom: 25px;
  }

  .content {
    padding-bottom: 71px;
    width: 374px;
  }

  span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #ab5cdb;
  }

  .container_card {
    display: flex;
    width: 1110px;
    height: 446px;
    background: #1b1937;
    box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
    border-radius: 8px;
  }

  .container_card_content {
    width: 50%;
  }

  .container_card_img {
    width: 50%;
  }
  .container_card_content_delimiter {
    margin-left: 71px;
    margin-right: 71px;
    margin-top: 72px;
    height: 316px;
  }

  .container_card_content_stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
  }
  .mobile {
    display: none;
  }
}

@media (max-width: 800px) {
  img {
    width: 327px;
    height: 240px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .title {
    margin-top: 40px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .content {
    margin-top: 16px;
    margin-left: 31px;
    margin-right: 31px;
    margin-bottom: 40px;
  }

  span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #ab5cdb;
  }

  .container_card_content {
    height: 70%;
  }

  .container_card_img {
    height: 30%;
  }

  .container_card_content_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content_delimiter {
    margin-bottom: 24px;
  }

  .container_card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 327px;
    height: 780px;
    background: #1b1937;
    box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
    border-radius: 8px;
  }
  .desktop {
    display: none;
  }
}
