<div class="container_card">
  <div class="container_card_content">
    <div class="container_card_content_delimiter">
      <h2 class="title title_style">
        Get <span>insights</span> that help your business grow.
      </h2>
      <p class="content content_style">
        Discover the benefits of data analytics and make better decisions
        regarding revenue, customer experience, and overall efficiency.
      </p>
      <div class="container_card_content_stats">
        <div class="content_delimiter">
          <h3 class="title_stats">10k+</h3>
          <p class="content_stats">Companies</p>
        </div>
        <div class="content_delimiter">
          <h3 class="title_stats">314</h3>
          <p class="content_stats">Templates</p>
        </div>
        <div class="content_delimiter">
          <h3 class="title_stats">12M+</h3>
          <p class="content_stats">Queries</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container_card_img">
    <img class="desktop" src="./assets/Bitmap.jpg" />
    <img class="mobile" src="./assets/mobile.jpg" />
  </div>
</div>
